<div class="columns is-centered mt-6">
  <div class="column is-half">
    <div class="panel">
      <h1 class="is-size-1 has-text-weight-bold mb-4 has-text-centered has-background-danger  has-text-grey-dark">
        Oops!
      </h1>
      <h2 class="is-size-3 has-text-weight-bold mb-4 has-text-centered has-text-grey-dark">
        <%= error_message %>
        <% if try_again %>
          Please try again in a few minutes.
        <% end %>
      </h2>
      <h4 class="is-size-6 is-family-monospace mb-4 has-text-centered has-text-grey">
        Error code: <%= error_code %>
      </h4>
      <br>
    </div>
  </div>
</div>

<div class="columns is-centered mt-6">
  <%= link_to "Home", root_path, class: "button is-grey-dark is-outlined is-centered" %>
</div>
