<% content_for :title do %>
  About
<% end %>
<div class="columns is-centered mt-6">
  <div class="column is-half">
    <nav class="panel is-success">
      <div class="panel-heading is-size-1 has-text-weight-bold mb-4 has-text-centered has-background-success has-text-grey-dark">
        About us
      </div>

      <div class="card-content is-size-3 mb-4 has-text-weight-bold has-text-grey-dark">
        <span class="has-text-success">log4meal&nbsp;</span> is a simple application that allows you to log your meals with statistics by day.
      </div>

    </nav>
    <div class="columns is-centered is-mobile mt-6 mb-6">
      <%= link_to "Home", root_path, class: "button is-grey-dark is-outlined is-centered is-fullwidth" %>
    </div>
  </div>
</div>



