<% content_for :title do %>
  About
<% end %>
<div class="columns is-centered mt-6">
  <div class="column is-half">
    <nav class="panel is-success">
      <div class="panel-heading is-size-1 has-text-weight-bold mb-4 has-text-centered has-background-success has-text-grey-dark">
        Hi!
      </div>
      <div class="panel-block has-text-weight-bold mb-4 has-text-grey-dark">
        <span class="">log4meal&nbsp;</span> is a simple application that allows you to log your meals with statistics by day.
      </div>

      <div class="panel-block has-text-weight-bold mb-4 has-text-grey-dark">
        <% if current_user %>
          You are logged in! You can view your entries
          <%= link_to "Entries", entries_path, class: "button" %>
        <% else %>
          To start using our service, you need to&nbsp;
          <%= link_to 'pass a simple registration', new_user_registration_path %>&nbsp;or&nbsp;
          <%= link_to 'log in', new_user_session_path %>.
        <% end %>
      </div>
    </nav>
  </div>
</div>

